div{
    width: 70%;
    margin: auto;
}

h1{
    color: blue;
    border: 3px solid brown;
    position: rel;
    top: 20px;
}

h2{
    color: red;
    border: 1px dashed blue;
    margin-bottom: 100px;
}

p{
    border: 1px solid black;
    padding: 20px;
}

img{
    border: 1px solid black;
    margin: 5px;
}
#paragraf{
    font-family: Arial, Helvetica, sans-serif;
}
.huruf{
    font-size: 30px;
}
.warna{
    background-color: blue;
}
.bentuk{
    font-style: italic;
}
.huruf-tebal{
    font-style: initial;
}
a{
    text-decoration: 0;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    background: darkorange;
    list-style: nones;
    margin: 0;
    padding: 0;
}
ul li{
    color: #fff;
    background: darkorange;
    border: 1px solid blue;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
}
ul li a{
    color: #fff;
}
ul li:hover{
    background: red;
    cursor: pointer;
}
ul li ul{
    background: orange;
    visibility: hidden;
    position: absolute;
    margin-top: 0.5rem;
    left: 0;
    display: none;
}
ul li:hover > ul,
ul li ul:hover{
    visibility: visible;
    display: block;
}
ul li ul li{
    clear: both;
    width: 100%;
}